<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Home</title>
</head>
<body>
    <div class="container">
        {{request.session.user.id}}}{{request.session.user.full_name}}{{request.session.user.email}}
        
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }} 
                    {% if message.tags %}
                    has these tags: {{message.tags }}
                    {% endif %}</p>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>